<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated course_description -->
      <package
            uri="platform:/plugin/basic_ecore_modeling/course_description.ecore"
            class="course_desc.Course_descPackage"
            genModel="course_description.genmodel"/>
   </extension>

</plugin>
